<% layout('layouts/boilerplate') %>
    <!DOCTYPE html>
    <html dir="rtl" lang="he-IL">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/mail.css" />
        <title>contact</title>
    </head>

    <body>
        <div class="container">
            <div class="data">
                <a href="/menu" class="back">חזור <i class="fa fa-angle-left"></i></a>
                <p class="text-muted">תודה על פנייתכם נציגינו יחזרו אליכם בקרוב עם הצעת מחיר</p>
            </div>
        </div>
    </body>