body {
    font-family: "Open Sans Hebrew", Sans-serif !important;
    font-weight: 400 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus:not(:disabled):not(.disabled), .btn-close:hover, .btn-close:focus, .btn-close:active, .btn-close:active:focus:not(:disabled):not(.disabled), .btn:focus, .btn:active, .btn:hover {
    box-shadow: none!important;
    outline: 0;
}

i {
    font-weight: 900;
}

a.room {
    font-size: 16px;
    color: rgb(187, 183, 183);
    font-weight: 300!important;
    text-decoration: none;
    background-color: #f2f2f2;
    margin: 10px;
    border: 2px solid #f2f2f2;
    padding: 5px 5px 5px 5px;
    letter-spacing: 0.3px;
}

.rooms {
    padding: 0;
}

.rooms div {
    border: 1px solid rgb(226, 226, 226);
    padding: 0;
    margin-bottom: 5px;
}

.not-mobile-total {
    border: none;
    padding: 0 !important;
    margin-bottom: 5px;
}

.mobile-total {
    border: 1px solid rgb(226, 226, 226);
    padding: 0 !important;
    margin: 5px 0 0 0;
}

.total-show {
    border: none !important;
    margin: 15px 10px 10px 10px !important;
    padding: 5px !important;
    font-weight: 500;
    font-size: 16px;
    
    /* color: rgb(187, 183, 183); */
    letter-spacing: 0.5px;
}
.total-show.price{
    display: none;
}
.total-show i{
    font-size: 24px;
    /* color: #FF001C !important; */
}
#sum-items{
    font-size: 16px;
}
.room-name {
    padding: 6px 12px;
}

.container .row {
    margin: 0 !important;
}

.row .container {
    padding: 0 !important;
    border: 1px solid rgb(226, 226, 226);
}

.container {
    padding: 0 !important;
}

#products {
    padding: 0;
}

.space {
    padding: 0;
    font-size: 15px;
    color: (187, 183, 183);
    text-decoration: none;
}

a.room:hover, a.room.active {
    border: 2px solid#FF001C;
}

#roomNavCard {
    background-color: #FF001C;
    color: white;
    padding-right: 5px;
    margin: 5px 5px 0 5px;
    letter-spacing: 1px;
}

#roomNavCard button {
    color: white;
}

.instructions {
    background-color: rgb(187, 183, 183);
    color: white !important;
    padding: 10px;
    margin: 0 0 5px 0;
    font-weight: bold;
    letter-spacing: 1px;
}

button.calc {
    background-color: rgb(187, 183, 183);
    color: white !important;
    border-radius: 0 !important;
    padding: 0 3px;
}

button.calc:hover {
    background-color: #FF001C;
}

input.calc {
    color: #9da0a3!important;
    font-size: 16px;
}

.furniture-single {
    padding: 5px;
}

div.furniture .furniture-single {
    border-top: 2px solid rgb(219, 217, 217);
}

.container .row .furniture:first-child .furniture-single {
    border-top-color: white;
}

#hideEmptyButton {
    display: none;
}

div.scroll-mobile {
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.toggle-rooms-mobile {
    color: #9da0a3;
    margin: 0;
    padding: 5px 0 0 0;
    display: block;
    background-color: white;
    border: none;
    font-size: 20px;
}

.toggle-rooms-mobile:hover {
    color: black;
}

.calc-area {
    padding: 0;
}

@media (min-width: 768px) {
    .container .row .furniture:nth-child(2) .furniture-single {
        border-top-color: white;
    }
    .rooms div {
        margin-left: 10px;
    }
    div.scroll-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    a.room:not(.active) {
        display: none;
    }
}