body {
    font-family: "Open Sans Hebrew", Sans-serif !important;
    font-weight: 400 !important;
}
html, body {width: auto!important; overflow-x: hidden!important} 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus:not(:disabled):not(.disabled), .btn-close:hover, .btn-close:focus, .btn-close:active, .btn-close:active:focus:not(:disabled):not(.disabled), .btn:focus, .btn:active, .btn:hover {
    box-shadow: none!important;
    outline: 0;
}

.container{
    padding:0;
}
h3{
    color: #FF001C;
    font-weight: 600;
    letter-spacing: 1px;
}
a.room {
    font-size: 18px;
    border: 2px solid #f2f2f2;
    margin: 5px 0 0 0;
    padding: 0.5em;
}

.products {
    padding: 5px 0;
}

a.room {
    text-decoration: none;
    background-color: #f2f2f2;
    color: (187, 183, 183);
}

#roomNavCard {
    background-color: #FF001C;
    color: white;
    padding: 5px;
    letter-spacing: 1px;
}

.furniture-single {
    margin: 0;
    padding: 0;
}

#roomNavCard button {
    color: white;
}

button.calc {
    background-color: rgb(187, 183, 183);
    color: white !important;
    border-radius: 0 !important;
    padding: 0 0.3em;
    font-size: 1em;
}
.col-2{
    padding:0;
}

button.calc:hover {
    background-color: #FF001C;
}

input.calc {
    color: #9da0a3!important;
    font-size: 1.2em !important;
    padding: 0 0.5em;
}

.furniture-single {
    border-top: 2px solid rgb(219, 217, 217);
    margin: 5px 0 0 0;
    padding: 5px 0;
}

div.products div.furniture-single:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top-color: white;
}

.instructions {
    margin-right: 2rem;
    margin-bottom: 1rem;
}

a.room.active {
    border: 2px solid#FF001C;
}

a.hide-room i {
    text-decoration: none;
}

a.hide-room {
    color: #FF001C;
    font-weight: 600;
}

a.hide-room:active {
    color: black;
}

.all {
    border: 1px solid #f2f2f2;
    padding: 1em;
    margin:0.5em;
}

.products .col-4{
    padding:0;
}


i {
    font-weight: 900 !important;
}

.card-title{
    font-size: 18px !important;
}
.total-show.price{
    display:none;
}
.total-show{
    margin-top: 1em;
}
.calc-area{
    padding-left:0.2em ;
    font-size: 18px !important;
}
img{
    padding-left: 0.5em;
}

div.products{
    display:none;
}