body {
    font-family: "Open Sans Hebrew", Sans-serif !important;
    font-weight: 400 !important;
}
html, body {width: auto!important; overflow-x: hidden!important} 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus:not(:disabled):not(.disabled), .btn-close:hover, .btn-close:focus, .btn-close:active, .btn-close:active:focus:not(:disabled):not(.disabled), .btn:focus, .btn:active, .btn:hover {
    box-shadow: none!important;
    outline: 0;
}

.container{
    font-size: 18px;
}
.data{    
    border: 1px solid #f2f2f2;
    padding:1em;
}
.back{    
    color: #FF001C;
    text-decoration: none;
}